.dg .c input[type=text] {                                                       

  line-height:normal;                                                                  
} 
.dg .c div {
  box-sizing: content-box;                                                             
}
#inputHolder {
	padding-top: 10px;
}
#exportJSON, #loadJSON, #saveImg, #shareButton, #shareUrl {
	border: 1px black solid;
	cursor: pointer;
	padding: 5px;
	margin-bottom: 10px;
}
#inputArea {
	display: block;
	margin-top: 10px;
}