/* custom styles */

.container {
    max-width: 500px;
}

.title {
    font-weight: 100;
    letter-spacing: 1em;
    font-size: 1.6em;
    text-transform: uppercase;
}

form {
    font-style: 3em;
    color: blue;
}

img {
    width: 100%;
    height: 100%;
}

#generate-input:focus {
    outline: none;
}

#generate-input {
    font-weight: 200;
    letter-spacing: 0.02em;
    ;
}

#generate-submit {
    background: none;
    color: rgba(66, 207, 196, 0.97);
    border-color: rgba(51, 51, 51, 0.63);
    border-radius: 0px;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.6em;
}
