{% extends "_base.html" %} {% block css %}
<link href="{{ url_for('static', filename='css/dotsV3.css') }}" rel="stylesheet">{% endblock %}{% block content %}
<div id="generatorContainer">
    <span class="home"><a href="/">Home</a></span>
    <span class="title2">Generator v2–Dots</span>
    <br>
    <span id="saveImg">Snapshot</span>
    <span id="shareButton">Share</span>
    <input id="shareUrl"></input>
    <br>
    <span id="exportJSON">Export</span>
    <span id="loadJSON">Load</span>
    <input id="inputArea"></input>
    <br>
    <span id="frameRateLbl">Frame Rate:</span>
    <span id="frameRate"></span>
</div>
<div id="canvasHolder"></div>
{% block js %}
<script src="{{ url_for('static', filename='js/processing.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dat.gui.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dotsV3.js') }}"></script>
<script>
var sharedOpts = '{{ sharedOpts }}';
</script>
{% endblock %} {% endblock %}
