{% extends "_base.html" %} {% block css %}
<link href="{{ url_for('static', filename='css/dotsGallery.css') }}" rel="stylesheet">{% endblock %} {% block content %}
<br>
<div class="galleryContainer">
    <span class="home"><a href="/">Home</a></span>
    <span class="generator"><a href="/dotsGenerator">New Sketch</a></span>
    <span class="title2">Dots Gallery</span>
</div>
<div id="imgGrid" class="img-grid">

</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/gallery.js') }}"></script>
<script>
</script>
{% endblock %}
