{% extends "_base.html" %} {% block css %}
<link href="{{ url_for('static', filename='css/dotsGallery.css') }}" rel="stylesheet">{% endblock %} {% block content %}
<span class="home"><a href="/">Home</a></span>
<span class="title2">Dots Gallery</span>
<div class="img-grid">
    {% for key, value in dotSketches.items() %}
    <a href="dotsGenerator/{{ key }}" class="thumbnail"><img src="{{ value }}"></a>
    {% endfor %}
</div>
<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/dotsGenerator.js') }}"></script> -->
<script>
// var sharedOpts = '{{ sharedOpts }}';
</script>
{% endblock %}
