{% extends "_base.html" %} {% block css %}
<link href="static/css/dotsV3.css" rel="stylesheet">{% endblock %}{% block content %}
<span class="home"><a href="/">Home</a></span>
<div class="text-center">
    <h1 class="mtitle">Generator v2–Dots</h1>
</div>
<span id="saveImg">Save</span>
<!-- <div id="control-play">Play</div> -->
<br>
<br>
<!-- <canvas data-processing-sources="static/dots3/dots3.pde"></canvas> -->
<div id="canvasHolder"></div>
<div id="inputHolder">
    <span id="exportJSON">Export</span>
    <span id="loadJSON">Load</span>
    <textarea id="inputArea" row="80" cols="80"></textarea>
</div>
{% block js %}
<script src="static/js/processing.min.js"></script>
<script type="text/javascript" src="static/js/dat.gui.min.js"></script>
<script type="text/javascript" src="static/js/dotsV3.js"></script>
{% endblock %} {% endblock %}
