{% extends "_base.html" %} {% block content %}
<div class="text-center">
    <h1 class="title">Generator v2: Dots</h1>
</div>
<br>
<form action="/" method="POST">
    <div class="form-group">
        <div class="option">Dots Per Row</div>
        <input name="dotsPerRow" class="form-control input-lg" type="text" placeholder="Enter a number between 1 - 1000" required>
        <br>
        <div class="option">Dot Radius (pixels)</div>
        <input name="dotRadius" class="form-control input-lg" type="text" placeholder="Enter a number between 1 - 1000" required>
        <br>
        <div class="option">Distance Between Dots (pixels)</div>
        <input name="dotDist" class="form-control input-lg" type="text" placeholder="Enter a number between 1 - 1000" required>
        <br>
        <div class="option">Randomize Dot Radius</div>
        <input name="dotRadiusRandomize" type="radio" value="True" required>True
        <br>
        <input name="dotRadiusRandomize" type="radio" value="False" checked required>False
        <br>
        <br>
        <div class="option">Dot Fill</div>
        <input name="fill" type="radio" value="True" checked required>True
        <br>
        <input name="fill" type="radio" value="False" required>False
        <br>
        <br>
        <div class="option">Dot Stroke</div>
        <input name="stroke" type="radio" value="True" required>True
        <br>
        <input name="stroke" type="radio" value="False" checked required>False
        <br>
    </div>
    <input id="gen-submit" type="submit" class="btn btn-primary btn-lg btn-block" value="Submit">
</form>
<br>
<hr>
<div>
    <img src="{{ img }}">
    <div>{{ errors }}</div>
</div>
{% endblock %}
